<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css.crm.mapper.CustomerMapper">


    <!--根据类别代码查询数据-->
    <select id="queryAllCustomer" resultType="com.css.crm.pojo.Customer">
      SELECT  cust_id AS custId , cust_name AS custName , cust_user_id AS custUserId , cust_create_id AS custCreateId , cust_source AS custSource  ,
      cust_industry AS custIndustry , cust_level AS custLevel ,cust_linkman AS custLinkman , cust_phone AS  custPhone ,cust_mobile AS custMobile,
      cust_zipcode AS custZipcode ,cust_address AS custAddress , cust_createtime AS custCreatetime FROM customer ORDER BY cust_createtime DESC ;
    </select>


    <select id="queryCount" parameterType="com.css.crm.pojo.QueryVO" resultType="int">
        <!--mybatis 动态sql  mybatis的传参该怎么写-->
       SELECT COUNT(*) FROM customer
        <where>
            <if test="custName != null and custName != ''">
                and  cust_name LIKE #{custName}
            </if>
            <if test="custSource != null and custSource != ''">
                and cust_source = #{custSource}
            </if>
            <if test="custIndustry != null and custIndustry != ''">
                and cust_industry = #{custIndustry}
            </if>
            <if test="custLevel != null and custLevel != ''">
                and cust_level = #{custLevel}
            </if>
        </where>
        ;

    </select>


    <select id="queryCustomerByPage"  parameterType="com.css.crm.pojo.QueryVO" resultType="com.css.crm.pojo.Customer">


    SELECT  cust_id AS custId , cust_name AS custName , cust_user_id AS custUserId , cust_create_id AS custCreateId , cust_source AS custSource,
    cust_industry AS custIndustry , cust_level AS custLevel ,cust_linkman AS custLinkman , cust_phone AS  custPhone ,cust_mobile AS custMobile,
    cust_zipcode AS custZipcode ,cust_address AS custAddress , cust_createtime AS custCreatetime FROM customer
    where 1 = 1
            <if test="custName != null and custName != ''">
                and   cust_name LIKE #{custName}
            </if>
            <if test="custSource != null and custSource != ''">
                and cust_source = #{custSource}
            </if>
            <if test="custIndustry != null and custIndustry != ''">
                and cust_industry = #{custIndustry}
            </if>
            <if test="custLevel != null and custLevel != ''">
                and cust_level = #{custLevel}
            </if>
            LIMIT #{start} , #{end};


    </select>


    <select id="queryCustomerById" parameterType="int" resultType="com.css.crm.pojo.Customer">

        SELECT  cust_id AS custId , cust_name AS custName , cust_user_id AS custUserId , cust_create_id AS custCreateId , cust_source AS custSource,
    cust_industry AS custIndustry , cust_level AS custLevel ,cust_linkman AS custLinkman , cust_phone AS  custPhone ,cust_mobile AS custMobile,
    cust_zipcode AS custZipcode ,cust_address AS custAddress , cust_createtime AS custCreatetime FROM customer WHERE cust_id = #{id};

    </select>

</mapper>
